<?php
/**
 * @var Bss\Faqs\Block\Search\SearchForm $block
 */
?>

<div class="faq-search-form">
    <div class="content">
        <form class="form"
              action="<?= /* @noEscape */ $block->getFormAction(); ?>"
              id="faq-search-form"
              method="get"
              data-hasrequired="<?= /* @noEscape */ __('* Required Fields') ?>"
              data-mage-init='{"validation":{}}'>
            <div class="field">
                <div class="control">
                    <input name="s" type="text" id="text-search"
                           placeholder="<?= /* @noEscape */ __('Search Frequently Asked Question'); ?>"
                           data-validate="{required:true}"
                           value="<?= $block->escapeHtml($block->getTextSearch()); ?>">
                </div>
            </div>
            <div class="actions">
                <button class="action primary" title="<?= /* @noEscape */  __('Search');?>" type="submit">
                    <span><?= /* @noEscape */  __('Search');?></span>
                </button>
            </div>
        </form>
    </div>
</div>
