<?php
/**
 * @var Bss\Faqs\Block\Faq\Faq $block
 */
$block->getFaqCategory();
$faqs = $block->getActiveFaqs();
$faqCategory = $block->getFaqCategory();
?>

<div class="faq-category">
    <div class="section-title">
        <div></div>
        <img src="<?= $block->escapeUrl($faqCategory['icon']) ?>"
             alt="<?= $block->escapeHtml(__($faqCategory['title'])) ?>">
        <span><?= $block->escapeHtml(__($faqCategory['title'])) ?></span>
    </div>
</div>

<div class="faq-list" data-mage-init='{
        "accordion":{
            "active": false,
            "collapsible": true,
            "openedState": "active",
            "multipleCollapsible": true
        }}'>
    <?php foreach ($faqs as $faq): ?>
        <div class="faq-wrapper">
            <div class="faq-title" data-role="collapsible">
                <div data-role="trigger"><?= $block->escapeHtml(__($faq['title'])) ?></div>
            </div>
            <div class="faq-content" data-role="content"><?= $block->escapeHtml(__($faq['title'])) ?></div>
        </div>
    <?php endforeach;?>
</div>


