.section-title {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
    color: #198dd3;
    text-transform: uppercase;
}

.section-title div {
    position: absolute;
    z-index: 5;
    bottom: -1px;
    width: 2.15em;
    border-bottom: 1px solid #198dd3;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 640px;
    overflow-y: auto;
    column-gap: 25px;
    row-gap: 25px;
}

.category-list::-webkit-scrollbar {
    width: 0;
}

.category-list > * {
    flex: 0 0 23%;
}

.category-image {
    display: flex;
    min-width: 200px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border: 1px solid #d2d2d2;
}

.category-image > img {
    object-fit: contain;
}

.category-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}
