.section-title {
    position: relative;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #ddd;
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
    color: #198dd3;
    text-transform: uppercase;
}

.section-title div {
    position: absolute;
    z-index: 9999;
    bottom: -1px;
    width: 2.15em;
    border-bottom: 1px solid #198dd3;
}

.section-title img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.faq-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.faq-title {
    padding: 15px;
    border: 1px solid #e3e3e3;
    background-color: rgba(248, 248, 248, 0.63);
    font-weight: 600;
}

.faq-title:hover {
    cursor: pointer;
    background-color: #ececec;
}

.faq-content {
    padding: 15px;
    border: 1px solid #e3e3e3;
}
