<?php
/**
 * @var Bss\Faqs\Block\Category\Category $block
 */

$urlPrefix = $block->getBaseUrl() . 'faqs/faq/index';
?>

<div class="faq-category">
    <div class="section-title"><div></div>FAQ Categories</div>
    <?php if (!empty($block->getActiveFaqCategories())): ?>
        <div class="category-list">
            <?php foreach ($block->getActiveFaqCategories() as $category): ?>
                <div class="category-wrapper">
                    <a href="<?= /* @noEscape */ $urlPrefix . '/' . 'id' . '/' . $category['category_id'] ?>"
                       class="category-image">
                        <img src="<?= /* @noEscape */ !empty($category['icon'])
                            ? $block->getFileBaseUrl($category['icon'])
                            : $block->getViewFileUrl('Bss_Faqs::images/faq81x81.png');  ?>"
                             alt="<?= $block->escapeHtml(__($category['title'])) ?>">
                    </a>
                    <div class="category-title"><?= $block->escapeHtml(__($category['title'])) ?></div>
                </div>
            <?php endforeach;?>
        </div>
    <?php else: ?>
        <h4>There are no FAQ Categories found.</h4>
    <?php endif; ?>
</div>
