<?php
/**
 * @var Bss\Faqs\Block\Search\Search $block
 */

$faqResults = $block->getFaqs();
?>
<div class="faq-search">
    <div class="section-title">
        <div></div>
        Search results for:
        <span style="text-transform: initial"><?= $block->escapeHtml($block->getTextSearch()); ?></span>
    </div>
    <?php if (!empty($faqResults)): ?>
        <div class="faq-list" data-mage-init='{
        "accordion":{
            "active": false,
            "collapsible": true,
            "openedState": "active",
            "multipleCollapsible": true
        }}'>
            <?php foreach ($faqResults as $faq): ?>
                <div class="faq-wrapper">
                    <div class="faq-title" data-role="collapsible">
                        <div data-role="trigger"><?= $block->escapeHtml(__($faq['title'])) ?></div>
                    </div>
                    <div class="faq-content" data-role="content"><?= $block->escapeHtml(__($faq['content'])) ?></div>
                </div>
            <?php endforeach;?>
        </div>
    <?php else: ?>
        <h4>There are no FAQs matching the keyword.</h4>
    <?php endif; ?>
</div>
